# dependencies (bun install)
node_modules

# Turborepo
.turbo/

# output
dist/
build/
.next/
out/
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# keys
*.keys.json